---
export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<h1 class="pb-0 font-display text-3xl sm:text-4xl">
  {title}
  <hr class="my-1 w-full border-t border-gray-300 dark:border-gray-600" />
</h1>
