---
import { siteConfig } from "../../site.config";
---

{
  siteConfig.site.showHomeHero && (
    <div class="justify-left mt-20 mb-20 flex">
      <div class="items-left flex flex-col">
        {siteConfig.homeHero.title.map((title: string) => (
          <h1 class="pb-2 font-display text-6xl sm:text-5xl">{title}</h1>
        ))}
        <span>{siteConfig.homeHero.subtitle}</span>
      </div>
    </div>
  )
}
