---
export type Props = {
  title: string;
  cursor: boolean;
};

const { title, cursor = false } = Astro.props;
---

<h1
  class="pb-10 font-display text-3xl text-theme-dark sm:text-4xl dark:text-theme-light"
>
  {title}
  {cursor && <span class="cursor-blink">❚</span>}
</h1>
