---
export type PaginationInfo = {
  next: { title: string; url: string } | null;
  previous: { title: string; url: string } | null;
};

type Props = {
  paginationInfo?: PaginationInfo;
};

const { paginationInfo } = Astro.props;
---

{
  paginationInfo && (
    <nav class="mt-15 pt-5">
      <div class="flex items-center justify-between">
        <div>
          {paginationInfo.previous && (
            <a
              href={paginationInfo.previous.url}
              class="toc-link hover-unmute block flex items-center gap-2 py-1 transition-colors duration-200"
            >
              <span
                class="text-3xl leading-none"
                style="transform: translateY(-0.2em);"
              >
                &larr;
              </span>
              <span class="md:hidden">Previous</span>
              <span class="hidden md:inline">
                {paginationInfo.previous.title}
              </span>
            </a>
          )}
        </div>
        <div>
          {paginationInfo.next && (
            <a
              href={paginationInfo.next.url}
              class="toc-link hover-unmute block flex items-center gap-2 py-1 transition-colors duration-200"
            >
              <span class="hidden md:inline">{paginationInfo.next.title}</span>
              <span class="md:hidden">Next</span>
              <span
                class="text-3xl leading-none"
                style="transform: translateY(-0.2em);"
              >
                &rarr;
              </span>
            </a>
          )}
        </div>
      </div>
    </nav>
  )
}
